apiVersion: v1
kind: Pod
metadata:
  name: "{{ item.pod_name }}-{{ ansible_role_name | replace('_', '-') }}-{{ tower_job_id }}"
  namespace: default
spec:
  containers:
  - command:
    - /bin/bash
    - -c
    - |-
      {{ lookup('template', 'script.bash.j2') | indent(6, false) }}
    image: registry.redhat.io/rhel8/support-tools
    name: "{{ item.pod_name }}-{{ ansible_role_name | replace('_', '-') }}-{{ tower_job_id }}"
    resources:
      requests:
        memory: "256Mi"
        cpu: "250m"
      limits:
        memory: "512Mi"
        cpu: "500m"
    securityContext:
      privileged: true
      runAsUser: 0
    volumeMounts:
    - mountPath: /run
      name: run
    - mountPath: /var/log
      name: var-log
    - mountPath: /host
      name: host
    - mountPath: /etc/localtime
      name: etc-localtime
  hostNetwork: true
  hostPID: true
  hostIPC: true
  nodeName: "{{ item.node_name }}"
  restartPolicy: Never
  volumes:
  - hostPath:
      path: /run
      type: Directory
    name: run
  - hostPath:
      path: /var/log
      type: Directory
    name: var-log
  - hostPath:
      path: /etc/localtime
      type: File
    name: etc-localtime
  - hostPath:
      path: /
      type: Directory
    name: host
