[[ $(date +"%M") -le {{ start_time }} ]] && while [[ $(date +"%M") -lt {{ start_time }} ]]; do sleep 1; done && chroot /host <<"EOT"
pcap_file="{{ item.1 }}-{{ namespace }}-{{ item.0 }}-$(date +"%m-%d-%Y-%H-%M")"
pod_pid=$(crictl inspectp $(crictl pods --name {{ item.0 }} --namespace {{ namespace }} --quiet) | jq .info.pid)
podman run -it --rm --name rhel-tools --privileged --ipc=host --net=host --pid=host \
-e HOST=/host \
-e NAME=rhel-tools \
-e IMAGE=registry.redhat.io/rhel8/support-tools \
-v /run:/run \
-v /var/log:/var/log \
-v /etc/localtime:/etc/localtime \
-v /:/host/ \
registry.redhat.io/rhel8/support-tools \
timeout {{ execution_time }}s nsenter -t ${pod_pid} -n -- tcpdump -i any -nn -w /host/tmp/${pcap_file}.pcap
EOT
