[[ $(( $(date +"%M") % 5  )) -eq 0 ]] && sleep 240
while [[ $(( $(date +"%M") % 5  )) -ne 0 ]]; do sleep 1; done
pcap_file="{{ item.node_name }}-{{ project_name }}-{{ item.pod_name }}-$(date +"%m-%d-%Y-%H-%M")"
pod_pid=$(chroot /host /bin/bash -c 'crictl inspectp $(crictl pods --name "^{{ item.pod_name }}$" --namespace "^{{ project_name }}$" --quiet) | jq .info.pid')
timeout {{ execution_time }}s nsenter -t ${pod_pid} -n -- tcpdump -i any -nn -w /host/tmp/${pcap_file}.pcap
exit 0
